.module {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
  border-left: 6px solid #efefef;
}
.btn {
  background-color: #8e34ff;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}
.header {
  display: flex;
  gap: 100px;
  padding-top: 8rem;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.headerImg {
  width: 300px;
}
.headerContent {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}
.headerButtonContainer {
  display: flex;
  width: 50%;
  gap: 1rem;
}

#curriculum {
  border: 2px solid red;
}
.curriculumSection {
  margin-top: 4rem;
}

.curriculumHeading {
  color: #e9ca97;
  font-size: 3rem;
}
.chapterNumber {
  color: #cdcdcd;
}
.courseName {
  font-size: 2.5rem;
  font-weight: 800;
  background: linear-gradient(
    270deg,
    #ff6b6b,
    #ffd93d,
    #1db954,
    #4d90fe,
    #ff6b6b
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 7s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.courseDetailsPara {
  font-size: 1.5rem;
  font-weight: 500;
  color: #84d6d9;
}

.courseDetailColor {
  color: #84d6d9;
}

.thumbnail {
  height: auto;
  width: 280px;
  margin: auto;
  display: block;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  animation: logo-spin infinite 15s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 920px) {
  .header {
    display: grid;
    grid-template-columns: 100%;
    gap: 100px;
  }
  .courseName {
    font-size: 2.5rem;
    color: #efefef;
  }

  .thumbnail {
    height: auto;
    width: 40%;
    display: block;
  }
  .headerContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .headerButtonContainer {
    display: flex;
    width: 100%;
    gap: 1rem;
  }
}
.lottiePlayer {
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.btnDisabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #b5b5b5;
  color: #dcdcdc;
}

@media (max-width: 1024px) {
  .btn {
    font-size: 1.2rem;
  }
  .headerButtonContainer {
    width: 100%;
  }
}

@media (max-width: 769px) {
  .courseName {
    text-align: center;
    font-size: 2.2rem;
  }
  .courseDetailsPara {
    text-align: center;
    font-size: 1rem;
  }
  .btn {
    font-size: 1rem;
  }
  .headerButtonContainer {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .thumbnail {
    width: 100%;
  }
  .courseName {
    font-size: 2.2rem;
  }
  .courseDetailsPara {
    font-size: 1rem;
  }
  .btn {
    font-size: 1rem;
  }
}
