.hero {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerSvg {
  transition: all 0.5s ease-in-out;
}
.headerSvg:hover {
  transform: scale(1.1);
}
.heroHeading {
  color: #84d6d9;
  font-size: 3rem;
  margin-bottom: 0;
}
.heroSubHeading {
  font-size: 1.4rem;
  margin-top: 0;
  color: #d8d8d8;
}
.heroButton {
  text-align: center;
  display: block;
  max-width: 220px;
  text-decoration: none;
  color: #fff;
  padding: 1rem 1.3rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  font-weight: 600;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 3s ease-in-out infinite;
  background-size: 300% 300%;
  transition: all 0.5s ease-in-out;
}

.heroButton:hover {
  transform: scale(1.1);
  box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.1),
    15px 15px 15px rgba(0, 0, 0, 0.3);
}

.fromScratch {
  color: #2389da;
  border-bottom: 2px solid #ceff90;
  transition: all 0.5s ease-in-out;
}

.fromScratch:hover {
  transform: scale(2);
}

.courseCard {
  background-color: #2c2b2c;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #121212; */
}
.courseCard:hover {
  transform: scale(1.03);
  box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.3),
    15px 15px 15px rgba(0, 0, 0, 0.5);
  /* border: 3px solid #121212; */
}

.courseCards {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.courseNameHeading {
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #84d6d9;
}
.courseDescription {
  color: #84d6d9;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  word-break: keep-all;
  letter-spacing: 0.2px;
}

.courseDuration,
.courseProjects,
.coursePrice {
  color: #e2e8f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.courseDuration {
  margin-left: 8px;
}
.coursePrice {
  margin-left: 4px;
}
/* .courseProjects {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .coursePrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
} */
.thumbnail {
  height: auto;
  width: 60%;
  margin: auto;
  display: block;
}
.linkBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}
.moreInfoBtn {
  background-color: #8e34ff;
  color: #efefef;
  padding: 0.5rem 0.8rem;
  /* display: block; */
  border-radius: 8px;
  width: fit-content;
  font-weight: 500;
  border: none;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease-in-out;
}

.moreInfoBtn:hover {
  /* box-shadow: 1px 2px 1px #8e34ff; */
  /* color: #84d6d9; */
}

.courseSection {
  margin-top: 5rem;
}
.courseSectionHeading {
  font-size: 2.2rem;
  color: #cfcfcf;
}
@media (max-width: 1048px) {
  .courseCards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 980px) {
  .hero {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }
  .heroImage {
    display: block;
    width: 50%;
  }
  .heroHeading {
    font-size: 2.2rem;
  }
  .heroSubHeading {
    font-size: 1.2rem;
  }
}
@media (max-width: 620px) {
  .courseCards {
    grid-template-columns: 1fr;
  }
}

.logo {
  /* height: 6em;
  padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
  animation: logo-spin infinite 15s linear;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
