/* General Form Styling */
.form {
  max-width: 90%;
  padding: 2rem;
  transition: all 0.5s ease-in-out;
  margin: 1rem auto;
  box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.3),
    15px 15px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.form:hover {
  transform: scale(1.05);
}

div label {
  margin-bottom: 0.3rem;
  display: block;
}

.form div {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form input {
  height: 48px;
  background-color: #2c2b2c;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  border: 1px solid #efefef;
  padding: 0.5rem;
  border-radius: 10px;
}

.form input[type="submit"] {
  background-color: #8e34ff;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.form input[type="submit"]:hover {
  transform: scale(1.05);
}

/* Headings */
.pageHeading {
  text-align: center;
  font-size: 2rem;
  padding-top: 7rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: #e2e8f0;
}

.loginPagePara {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

/* Containers */
.loginConatinerAndSVG,
.signupSvgAndFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */
}

/* Page Heading Gradient Animation */
.pageHeading > span {
  font-weight: 800;
  background: linear-gradient(
    270deg,
    #ff6b6b,
    #ffd93d,
    #1db954,
    #4d90fe,
    #ff6b6b
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 7s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Responsive Styling */
@media (min-width: 576px) {
  .form {
    max-width: 500px;
  }

  .form div {
    width: 400px;
  }

  .loginConatinerAndSVG {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .pageHeading {
    font-size: 2.5rem;
  }

  .loginPagePara {
    font-size: 1.5rem;
  }

  .form {
    max-width: 550px;
  }

  .loginConatinerAndSVG {
    flex-direction: column;
    min-width: 300px;
    gap: 3rem;
  }
}

@media (min-width: 992px) {
  .pageHeading {
    font-size: 3rem;
  }

  .loginPagePara {
    font-size: 1.6rem;
  }

  .form {
    max-width: 600px;
  }

  .form div {
    width: 450px;
  }

  .loginConatinerAndSVG {
    flex-direction: column;
    min-width: 300px;
  }
}

@media (min-width: 1200px) {
  .pageHeading {
    font-size: 3.5rem;
  }

  .loginPagePara {
    font-size: 1.8rem;
  }

  .form div {
    width: 500px;
  }
}
