.paymentHeading {
  max-width: 500px;
}

.paymentHeading_p1 {
  color: #08beff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
.paymentHeading_p2 {
  text-align: center;
  color: #84d6d9;
  font-size: 1.1rem;
  font-weight: 500;
}
