@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@300;400;500&display=swap";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #2c2b2c;
  color: #fff;
  scroll-behavior: smooth;
  transform-origin: 0 0; /* Ensure scaling starts from the top-left corner */
  font-size: 16px; /* Set a base font size */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
}

.container {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 1400px;
  margin: 0 auto;
}

.toastNotification {
  margin-top: 4rem !important;
}

@media (max-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 500px) {
  .toastNotification {
    margin-top: 5.7rem !important;
  }
}
